<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty name="email_username" source="logging.appender.email.username"/>
    <springProperty name="email_password" source="logging.appender.email.password"/>
    <springProperty name="email_to" source="logging.appender.email.to"/>

    <!-- use Spring default values -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>%date{yyyy-MM-dd HH:mm:ss.SSZ} [LEVEL:%clr(%level)] [THREAD:%clr(%thread){magenta}] [SESSION_ID:%clr(%mdc{requestSessionId:-none}){blue}] [REQUEST_ID:%clr(%mdc{requestId:-none}){blue}] %clr(%logger{3}){cyan}: %msg %ex %n</Pattern>
            </layout>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="Console"/>
    </root>

</configuration>