name: Back Kamal Command

permissions:
  contents: read
  pull-requests: read

on:
  workflow_dispatch:
    inputs:
      command:
        description: "KAMAL back command to run"
        default: "kamal app details"

jobs:
  command:
    defaults:
      run:
        working-directory: back
    runs-on: ubuntu-latest

    env:
      KAMAL_REGISTRY_USERNAME: ${{ secrets.KAMAL_REGISTRY_USERNAME }}
      KAMAL_REGISTRY_PASSWORD: ${{ secrets.KAMAL_REGISTRY_PASSWORD }}
      SPRING_PROFILE: ${{ vars.SPRING_PROFILE }}
      FRONTEND_URL: ${{ vars.FRONTEND_URL }}
      CORS_ALLOWED_ORIGINS: ${{ vars.CORS_ALLOWED_ORIGINS }}
      CORS_ALLOWED_SOCKET_ORIGINS: ${{ vars.CORS_ALLOWED_SOCKET_ORIGINS }}
      MAIL_SENDER: ${{ secrets.MAIL_SENDER }}
      MAILGUN_SMTP_SERVER: ${{ secrets.MAILGUN_SMTP_SERVER }}
      MAILGUN_SMTP_PORT: ${{ secrets.MAILGUN_SMTP_PORT }}
      MAILGUN_SMTP_LOGIN: ${{ secrets.MAILGUN_SMTP_LOGIN }}
      MAILGUN_SMTP_PASSWORD: ${{ secrets.MAILGUN_SMTP_PASSWORD }}
      JWT_SECRET: ${{ secrets.JWT_SECRET }}
      JWT_EXPIRATION_IN_MINUTES: ${{ secrets.JWT_EXPIRATION_IN_MINUTES }}
      PURGE_PASSWORD: ${{ secrets.PURGE_PASSWORD }}
      JDBC_DATABASE_URL: ${{ secrets.JDBC_DATABASE_URL }}
      SOS_DB_USER: ${{ secrets.SOS_DB_USER }}
      SOS_DB_PASSWORD: ${{ secrets.SOS_DB_PASSWORD }}
      NEW_RELIC_APP_NAME: ${{ secrets.NEW_RELIC_APP_NAME }}
      NEW_RELIC_LICENSE_KEY: ${{ secrets.NEW_RELIC_LICENSE_KEY }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      
      - uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.SSH_BACK_PRIVATE_KEY }}

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.3.0
      
      - name: Install dependencies
        run: gem install kamal

      - name: Run KAMAL command
        run: ${{ github.event.inputs.command }}